<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HoldSeatServlet</servlet-name>
        <servlet-class>user.servlet.HoldSeatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerInfoServlet</servlet-name>
        <servlet-class>user.servlet.CustomerInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayPalServlet</servlet-name>
        <servlet-class>user.servlet.PayPalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelServlet</servlet-name>
        <servlet-class>user.servlet.CancelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddMovieServlet</servlet-name>
        <servlet-class>admin.servlet.AddMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>admin.servlet.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>user.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>user.servlet.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieSelectionServlet</servlet-name>
        <servlet-class>user.servlet.MovieSelectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeSlotSelectionServlet</servlet-name>
        <servlet-class>user.servlet.TimeSlotSelectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeatAvailabilityServlet</servlet-name>
        <servlet-class>user.servlet.SeatAvailabilityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>admin.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMovieServlet</servlet-name>
        <url-pattern>/admin/AddMovieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/admin/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieSelectionServlet</servlet-name>
        <url-pattern>/MovieSelectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeSlotSelectionServlet</servlet-name>
        <url-pattern>/TimeSlotSelectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeatAvailabilityServlet</servlet-name>
        <url-pattern>/SeatAvailabilityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HoldSeatServlet</servlet-name>
        <url-pattern>/HoldSeatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerInfoServlet</servlet-name>
        <url-pattern>/CustomerInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayPalServlet</servlet-name>
        <url-pattern>/PayPalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelServlet</servlet-name>
        <url-pattern>/CancelServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
